body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/on-the-heels-of-the-iconic-tournament-of-champions-jeopardy-news-photo-1618590386.");
  background-size: cover;
  background-repeat: no repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 2rem;
  padding: 2rem;
  color: whitesmoke;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.score {
  color: orange;
  font-size: 2rem;
}
.plus {
  color: red;
  font-size: 1.5rem;
}

.minus {
  color: green;
  font-size: 1.5rem;
}

.reset {
  color: blue;
  font-size: 1.5rem;
}

.play {
  color: red;
  font-size: 2.5rem;
}

.questionsbtn {
  color: green;
  font-size: 1.5rem;
}

.categor {
  color: whitesmoke;
  font-size: 2.5rem;
}

.catBox2 {
  color: red;
  font-size: 1.5rem;
}

.point {
  color: red;
  font-size: 2.5rem;
}

.answers {
  color: red;
  font-size: 1.5rem;
}

.answer {
  color: whitesmoke;
  font-size: 2.5rem;
}

.reveal {
  color: purple;
  font-size: 1.5rem;
}


